PORT=5000
MONGO_URI=your_mongodb_connection_string_here
BASE_URL=http://localhost:5000

REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password_here
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here


JWT_KEY=your_jwt_key_here

GMAIL_USER=emailSender@gmail.com
GMAIL_APP_PASSWORD=app_password